body {
  font-family: 'Noto Sans', sans-serif;
}

#header {
  background-image: url(../images/background.png);
  background-color: 	#A0522D;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
}

#header .nav {
  color: #fff;
}

.nav {
  max-height: 50px;
}

#header .login {
  font-size: 50%
}
.button {
  font-size: 50%
}

.articles .footer a,
.reviews .see-more,
.reviews .add {
  color: #f00;
  text-decoration: none;
}

.scroll {
  overflow: scroll;
}

.reviewcnt {
  margin-left: 105px;
}

.content .actions,
.article .topic,
.article .footer {
  font-size: 80%;
}

.review .actions .thanks {
  background-image: url(../images/thumb-up.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
}

.block {
  height:300px;
  background: url(../images/home.png);
  background-size: cover;
}

/*   DANGER!!!  */
/* everything below this line is for testing only */

.article,
.reviews {
  /* height:300px; */
  /* border:1px solid black; */
}
